:root {
    --laranja: #FF6600;
    --preto: #000000;
    --cinza-card: #121212;
    --cinza-botao: #333333;
    --branco: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* REMOVE O AZUL E O SUBRLINHADO DE TODOS OS LINKS */
a, a:visited, a:hover, a:active {
    text-decoration: none !important;
}

body {
    background-color: var(--preto);
    color: var(--branco);
    font-family: 'Poppins', sans-serif;
}

header {
    background-color: var(--preto);
    padding: 30px 10px;
    text-align: center;
    border-bottom: 3px solid var(--laranja);
}

.logo h1 {
    font-family: 'Oswald', sans-serif;
    color: var(--laranja);
    font-size: 2.5rem;
}

.container {
    padding: 20px;
    max-width: 500px;
    margin: 0 auto;
}

.unidade {
    background-color: var(--cinza-card);
    margin-bottom: 25px;
    padding: 20px;
    border-radius: 12px;
    border-left: 5px solid var(--laranja);
}

.unidade h2 {
    font-family: 'Oswald', sans-serif;
    color: var(--laranja);
    margin-bottom: 10px;
    font-size: 1.5rem;
}

.unidade p {
    font-size: 0.9rem;
    color: #ccc;
    margin-bottom: 5px;
}

/* ÁREA DE BOTÕES - ALINHAMENTO */
.area-botoes {
    margin-top: 20px;
    display: flex;
    gap: 10px; /* Espaço entre os botões */
}

/* BOTÃO LARANJA */
.btn-laranja {
    flex: 1;
    background-color: var(--laranja) !important;
    color: white !important;
    padding: 12px 5px;
    text-align: center;
    font-weight: bold;
    font-size: 0.8rem;
    border-radius: 6px;
    text-transform: uppercase;
}

/* BOTÃO CINZA */
.btn-cinza {
    flex: 1;
    background-color: var(--cinza-botao) !important;
    color: white !important;
    padding: 12px 5px;
    text-align: center;
    font-weight: bold;
    font-size: 0.8rem;
    border-radius: 6px;
    text-transform: uppercase;
}

footer {
    text-align: center;
    padding: 20px;
    color: #444;
}
